<p id="notice"><%= notice %></p>

<h1>誕生日</h1>
月順なんですけど日順はうまく並んでない

<table>
  <thead>
    <tr>
      <th>名前：</th>
      <th>月：</th>
      <th>日：</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @birthdays.each do |birthday| %>
      <tr>
        <td><%= birthday.namae %></td>
        <td><%= birthday.month %>月</td>
        <td><%= birthday.day %>日</td>
        <td><%= link_to 'Show', birthday %></td>
        <td><%= link_to 'Edit', edit_birthday_path(birthday) %></td>
        <td><%= link_to 'Destroy', birthday, method: :delete, data: { confirm: '本当に削除したいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '誕生日を付ける', new_birthday_path %>
