<p id="notice"><%= notice %></p>

<p>
  <strong>名前:</strong>
  <%= @birthday.namae %>
</p>

<p>
  <strong>日付:</strong>
  <%= @birthday.hidzuke %>
</p>

<%= link_to 'Edit', edit_birthday_path(@birthday) %> |
<%= link_to 'Back', birthdays_path %>
