<p id="notice"><%= notice %></p>

<p>
  <strong>名前:</strong>
  <%= @birthday.namae %>
</p>

<p>
  <strong>月:</strong>
  <%= @birthday.month %>
</p>

<p>
  <strong>日:</strong>
  <%= @birthday.day %>
</p>

<%= link_to 'Edit', edit_birthday_path(@birthday) %> |
<%= link_to 'Back', birthdays_path %>
